body {
    display: flex;
    flex-direction: column;  
    background-color: black;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 20px;
    justify-content: center;
    align-items:normal;
    margin-top: 0px;
}

.header {
    display: flex;
    justify-content:space-around;
    align-items: center;
}

#logo {
    height: 200px;
}

h1 {
    color: #f9faf8;
    font-size: 24px;
}

.header>ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    gap: 20px;
    color: #e5e7eb;
    font-size: 18px;
}

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 32px;
    margin-bottom: 50px;
}

#hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    width:400px;
    height: 150px;    
    margin-left: 150px;
}

#hero-header {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
    margin-bottom: 0px;
}

#hero-secondary {
    font: size 18px;
    color:#E5E7EB;
    margin-top: 0px;
}

button {
    background-color:  orangered;
    color:#E5E7EB;
    padding: 8px;
    width: 100px;
    border: none;
    border-radius: 5px;
}

img {
    width: 500px;
    height: 350px;
    border-radius: 25px;
    opacity:80%;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;

}

#information {
    font-size: 36px;
    font-weight: 800;
}

.info-image {
    width: 150px;
    height: 150px;
    border: 3px solid orangered;
    border-radius: 15%;
}

.info-images {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    gap:50px    
}

.info-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.para {
    display: flex;
    width: 160px;
    gap:20px
}



.quote {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    text-align: justify;
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    padding: 60px;
}

blockquote {
    width: 60%;
    font-size: 36px;
    font-style: italic light;
    color: #1F2937;
}

.quote>p {
    align-self:last baseline;
    margin-right: 20%;
    font-weight: 800;
    font-size: 26px;
}

.action {
    background-color: white;
    display: flex;
    justify-content: center;
}
.box {
    background-color: black;
    width: 50%;
    height: 150px;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    border: 2px solid orangered;
    border-radius: 30px;
}

.action-header {
    font-size: 24px;
    font-weight: bold;
}

.action-button {
    font-size: 24px;
    border: 2px solid white;
    background-color: #3882F6;
    box-shadow: none;
    
}

.footer {
    display: flex;
    justify-content: center;
    color: white;
    height: 100px;
    align-items: center;
}





